/* DashboardPage.css */

/* General dashboard layout */
.dashboard {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
    padding: 20px;
    background-color: #f8fafc;
}

/* Top Section */
.top-section-dashboard {
    grid-column: 1 / 2;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

/* Bottom Section (Past Appointments) */
.bottom-section-dashboard {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Right Section (Upcoming Appointments) */
.right-section {
    grid-column: 2 / 3;
    grid-row: 1 / 3; /* This makes the upcoming appointments take up the full height */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Appointment Card Styling */
.appointment-card {
    flex: 1;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.appointment-card:last-child {
    margin-right: 0;
}

.appointment-card:hover {
    transform: translateY(-5px);
}

.appointment-card div {
    margin: 5px 0;
}

.appointment-card .value {
    font-size: 32px;
    font-weight: 700;
    color: #1d4ed8;
}

.appointment-card .growth {
    color: #10b981;
}

/* Past Appointments Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table thead th {
    text-align: left;
    padding: 12px;
    background-color: #e5e7eb;
    color: #111827;
    font-weight: 600;
    border-bottom: 1px solid #d1d5db;
}

table tbody td {
    padding: 12px;
    border-bottom: 1px solid #d1d5db;
    color: #374151;
}

table tbody tr:hover {
    background-color: #f3f4f6;
}

.button-dashboard {
    background-color: #233B69;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2563eb;
}

/* Upcoming Appointments List */
.appointment-list ul {
    list-style-type: none;
    padding-left: 0;
}

.appointment-list > ul > li{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #d1d5db;
}

ul li div {
    font-weight: 600;
  
}

ul > li button {
    background-color: #233B69;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;

}

ul > li > button:hover {
    background-color: #1d4ed8;
}

.appointment-list-item > p {
margin-top: 5px;
font-weight: 400;
margin-bottom: 5px;
}