.sidebar {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 240px; Adjust width as needed
  height: 100vh;  */
  position: fixed;
  overflow: hidden;
  width: 240px;
  background-color: #233B69;
  color: white;
  height: 105vh;
  padding-top: 20px;

  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .sidebar li:hover {
    background-color: #1A2D50;
  }
  
  .sidebar li svg {
    margin-right: 10px;
  }
  